<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p>
          <%= image_tag 'logo.png', size: "50x50" %>
          パクっと食べてサッと記録
        </p>
        <p>
          タベタヨ<small>&copy; 2023 otsuki</small>
        </p>
      </div>
    </div>
  </div>
</footer>